.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  color: #bfbfbf;
  border: 0.1rem solid #262626;
  border-radius: 0.7rem;
  overflow: hidden;
  text-align: center;
  padding: 0.8rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.movie-card:hover {
  color: #ffffff;
  transform: translateY(-0.5rem);
  box-shadow: 0 0.4rem 2rem rgba(204, 255, 0, 0.15);
}

.movie-card img {
  width: 100%;
  /* Fill container width */
  height: 21.25rem;
  /* Fixed height */
  object-fit: cover;
  /* Crop to fit */
  object-position: center;
  /* Center the crop */
  border-radius: 0.7rem;
  margin-bottom: 0.5rem;
}

.movie-card p {
  font-size: 0.95rem;
  margin-top: 0.3rem;
}

.poster-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  overflow: hidden;
}

.poster-img {
  width: 100%;
  max-width: 13.3rem;
  height: 21.25rem;
  aspect-ratio: 2/3;
  object-fit: cover;
  object-position: center;
  border-radius: 0.7rem;
  margin-bottom: 0.5rem;
}

.hover-overlay {
  position: absolute;
  height: 21.25rem;
  inset: 0;
  background: linear-gradient(
    to bottom,
    #141414 0%,
    rgba(20, 20, 20, 0) 50%,
    #141414 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 0.7rem;
}

.movie-card:hover .hover-overlay {
  opacity: 1;
}

.top-right {
  position: absolute; 
  top: 0.5rem;       
  right: 0.5rem;     
  font-weight: 500;
  font-size: 1.7rem;
  color: #ccff00;
  z-index: 1;        
}

.bottom-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
