header {
  max-width: 100%;
}
header #navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: #0f0f0f;
  color: #ffffff;
  height: 5rem;
  z-index: 1000;
}
header #navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}
