/* Flex layout wrapper */
.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Prevent body scroll */
}

.sidebar-container {
  width: 250px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  background-color: #1D1D1D;
  overflow-y: auto;
  z-index: 1002;
}

.sidebar-container.open {
  transform: translateX(0);
  left: 0;
}

.sidebar-container.closed {
  transform: translateX(-100%);
  left: -250px;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* semi-transparent black */
  z-index: 1001; /* just below the sidebar */
}

.clear-filters-button.active {
  background-color: #ff4d4d;
  color: white;
}
#toggle-sidebar-container span {
  position: fixed;
  top: 3rem;
  left: 0;
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 5px 20px 20px 5px;
  z-index: 1001;
}
#sidebar-icon {
  color: #000;
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 2rem 1rem;
  overflow-y: auto;
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar .section-title {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.sidebar-title {
  width: 3rem;
  user-select: none;
}

.sidebar-icon {
  margin-left: 2rem;
}

.sidebar-filter-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 1rem;
}

.sidebar-filter-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  color: #BFBFBF;
}

.sidebar-filter-item input {
  cursor: pointer;
}

.sidebar-filter-item:hover {
  color: white;
}
