/* Flex layout wrapper */
.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar-container {
  width: 250px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  background-color: #1D1D1D;
  overflow-y: auto;
  z-index: 1002;
}

.sidebar-container.open {
  transform: translateX(0);
  left: 0;
}

.sidebar-container.closed {
  transform: translateX(-100%);
  left: -250px;
  transition: 500ms ease-in-out;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1001;
  overscroll-behavior: contain;
}

.clear-filters-button.active {
  background-color: #ff4d4d;
  color: white;
}
#toggle-sidebar-container span {
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 5px 20px 20px 5px;
  z-index: 1001;
}

#toggle-sidebar-container button {
  display: flex;
  position: fixed;
  top: 3rem;
  left: 0;
  padding: 0;
  outline: none;
  z-index: 1001;
}

#sidebar-icon {
  color: #000;
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 2rem 1rem;
  overflow-y: auto;
  margin-right: 0.7rem;
  overscroll-behavior: contain;
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
  padding-top: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.sidebar .section-title {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.sidebar-title {
  width: 3rem;
  user-select: none;
}

.sidebar-icon {
  margin-left: 2rem;
}

.sidebar-filter-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 1rem;
}

.sidebar-filter-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  color: #BFBFBF;
}

.sidebar-filter-item input {
  cursor: pointer;
}

.sidebar-filter-item:hover {
  color: #C6FF00;
}

.sidebar-filter-item input[type="checkbox"]:checked {
  accent-color: #C6FF00;
  opacity: 1;
  transition: all 0.2s ease-out;
}

.sidebar-filter-item input {
  appearance: none;
  position: relative;
  border: #c8ff00 2px solid;
  border-radius: 0.3rem;
  opacity: 0.8;
  width: 1rem;
  height: 1rem;
  line-height: 1;
}

.sidebar-filter-item input[type="checkbox"]::before {
  content: '';
  position: absolute;
  inset: 2px;
  right: 2.1px;
  top: 2.5px;
  border-radius: 2px;
  background: #c8ff00;
  transform: scale(0);
  transition: transform 0.1s ease-in-out;
}

.sidebar-filter-item input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.sidebar-filter-item:has(input[type="checkbox"]:checked) span {
  color: #C6FF00;
}