.genre-card {
    width: 15rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    color: #bfbfbf;
    border: 0.1rem solid #262626;
    border-radius: 0.7rem;
    overflow: hidden;
    text-align: center;
    padding: 1.2rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    column-gap: 0.2rem;
}

.genre-card:hover {
    color: #ffffff;
    transform: translateY(-0.5rem);
    box-shadow: 0 0.4rem 2rem rgba(204, 255, 0, 0.15);
}

.genre-card h3 {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Manrope;
    align-content: start;
}

.posters-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.7em;
    mask: linear-gradient(to top, transparent 0%, black 80%);
    -webkit-mask: linear-gradient(to top, transparent 0%, black 30%);
}

.posters-container img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 0.4rem;
    margin: 0 0;
}

.genre-card:hover .hover-overlay {
    opacity: 1;
}

.genre-card.selected {
    border-color: #C6FF00;
    color: #C6FF00;
}