.nav-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  border-top: 1px solid rgba(152, 150, 150, 0.963);
  border-bottom: 1px solid rgba(152, 150, 150, 0.963);
  -webkit-overflow-scrolling: touch;
}

.nav-container li {
  list-style: none;
}
.tab_btn {
  color: var(--color-grey);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.tab_btn:focus {
  outline: none;
  box-shadow: none;
}

.tab_btn:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.line {
  position: absolute;
  bottom: 0.5rem;
  height: 2px;
  background-color: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
.tab-content {
  flex: 1;
  min-height: 0;
}
.chart-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "chart1 chart2"
    "chart3 .";
  gap: 1.5rem;
  margin: 1rem 0;
}

.chart-1 {
  grid-area: chart1;
}

.chart-2 {
  grid-area: chart2;
}

.chart-3 {
  grid-area: chart3;
  justify-self: center; /* center horizontally */
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .chart-1,
  .chart-2,
  .chart-3 {
    width: 80%;
    justify-self: center;
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
    .tab_btn {
      padding: 0.5rem 0.3rem;
      font-size: 0.8rem;
    }
  }

  .chart-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "chart1"
      "chart2"
      "chart3";
  }
}
