.hero-banner {
  position: relative;
}

/* swiper container */
.hero-swiper {
  position: relative;
}

/* left right button */
.custom-prev,
.custom-next {
  user-select: none;
  position: absolute;
  top: 50%; /* center vertically */
  transform: translateY(-50%); /* adjust for exact center */
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 45px;
  height: 45px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  line-height: 1;   
  padding: 0;
  position: absolute;    
}

.custom-prev {
  left: 20px;
}

.custom-next {
  right: 20px;
}

.custom-prev:hover,
.custom-next:hover {
  background: rgba(0, 0, 0, 0.7);
}

.custom-prev:focus,
.custom-next:focus {
  outline: none;
}

.arrow {
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  transform: translateY(-1.5px); /* 🔧 Adjust this value to move up/down */
}

.swiper-pagination {
  bottom: 30px !important;
  text-align: center;
}

/* Pagination Bullets */
.swiper-pagination {
  bottom: 10px !important;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 4px;
  border-radius: 5px;
  background-color: #333; /* inactive bullets */
  opacity: 1;
  margin: 0 4px;
  transition: background-color 0.3s, width 0.3s;
}

.swiper-pagination-bullet-active {
  background: #c6ff00; /* activate bullet become green colour */
  opacity: 1;
  width: 30px;
}

/* Every swiper can add particular effect */
.banner-avengers {
}
.banner-parasite {
}
.banner-inception {
}
.banner-batman {
}
