.hero-banner {
  position: relative;
}

/* swiper container */
.hero-swiper {
  position: relative;
}

/* left right button */
.custom-prev,
.custom-next {
  user-select: none;
  position: absolute;
  top: 50%; /* center vertically */
  transform: translateY(-50%); /* adjust for exact center */
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
}

.custom-prev {
  left: 20px;
}

.custom-next {
  right: 20px;
}

.custom-prev:hover,
.custom-next:hover {
  background: rgba(0, 0, 0, 0.7);
}

.custom-prev:focus,
.custom-next:focus {
  outline: none;
}

.swiper-pagination {
  bottom: 30px !important;
  text-align: center;
}

/* Pagination Bullets */
.swiper-pagination {
  bottom: 10px !important;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #00ff00; /* activate bullet become green colour */
  opacity: 1;
}

/* Every swiper can add particular effect */
.banner-avengers {
}
.banner-parasite {
}
.banner-inception {
}
.banner-batman {
}
