.recommendation-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 3rem;
}

.recommendation-wrapper {
  position: relative;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
  max-width: fit-content;
}

.recommendation-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
}

.recommendation-refresh {
  position: absolute;
  top: 0;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  background-color: rgb(88, 88, 88);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  user-select: none;
  font-size: 1.2rem;
}

.recommendation-refresh:hover {
  background-color: rgba(88, 88, 88, 0.5);
  color: #c6ff00;
}

.recommendation-card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  box-sizing: border-box;
  justify-content: flex-start;
  max-width: fit-content;
}

.recommendation-card-container > * {
  width: 15.3rem;
  height: 100%;
  background-color: #1e1e1e;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 1rem 0.5rem;
  transition: transform 0.2s ease;
}

.recommendation-card-container > *:hover {
  transform: scale(1.03);
}

.card-image-wrapper {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 8px;
}

.card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.movie-icons {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  gap: 0.5rem;
  z-index: 2;
}

.movie-icons i {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 6px;
  border-radius: 50%;
  color: white;
  font-size: 1rem;
  transition: transform 0.2s ease;
}

.movie-icons i:hover {
  transform: scale(1.2);
  color: #c6ff00;
}

.recommendation-card-container p {
  margin-top: 0.5rem;
  text-align: center;
  text-overflow: ellipsis;
  color: #cccccc;
  font-size: 1rem;
  padding: 0 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

.recommendation-card-container > *:hover p {
  color: #fff; /* white on hover */
}

/* Responsive */
@media (max-width: 1200px) {
  .recommendation-card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .recommendation-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .recommendation-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .recommendation-card-container {
    grid-template-columns: 1fr;
  }
}
